{% extends 'base.html' %}

{% block main %}

<!-- Search Items Section -->
<section class="subpage-top" id="searchFlooring">
    <div class="container text-center">
        <div class="row justify-content-center section-area mb-5">
            <img src="{{url_for('static', filename='images/line.png')}}" width="100" height="30" class="d-inline-block align-top line-image" alt="Line Image">
            <h2 class="section-title">Searching for '{{ keyword }}' Floorings</h2>
            <img src="{{url_for('static', filename='images/line.png')}}" width="100" height="30" class="d-inline-block align-top line-image" alt="Line Image">
        </div>
        
        <!-- Cards -->
        <div class="row text-center">
            {% if floorings|length %}
            {% for flooring in floorings%}
            <div class="col-md-12 col-lg-4 text-center mb-5">
                <a class="pe-auto text-decoration-none" href="{{url_for('main.details', flooring_id=flooring.id)}}">
                    <div class="card zoom ml-auto mr-auto" style="width: 18rem;">
                        <img src="{{url_for('static', filename='images/product_images/'+flooring.image)}}" class="card-img-top" alt="Flooring Image">
                        <div class="card-body container">
                            <div class="row pl-2 text-secondary">
                                {{ flooring.subtype }} - {{ flooring.colour }}
                            </div>
                            <div class="row pl-2 text-secondary">
                                {{ flooring.specification.size }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="row dropdown-item disabled justify-content-between" style="height: 700px;">
                <div class="col cart-image">
                  <h6 class="text-muted">No Results</h6>
                  <h6 class="text-black mb-0">Please search for any other keyword to continue</h6>
                </div>
              </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}